<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>{{pageTitle}}</h1>
	<p>{{toCaps capsMessage}}</p>
	<p>{{welcomeMessage}}</p>
	{{>footers}}
</body>
</html>